

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
  

.sideNav_one {
    list-style: none;
    width: 150px;
    padding: 1em;
}

.sideNav_two {
    list-style: none;
    width: 150px;
    padding: 1em;
}
