<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>

    <% messages.forEach(message => { %>
     <h1><%= message.text %></h1>
     <h2><%= message.user %></h2>
     <h3><%= message.added %></h3>
    <% }) %>
    
</body>
</html>